.Header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 2000px;
  margin-left: 100px;
  margin-right: auto;
}

.List {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.Link:first-child {
  margin-right: 220px;
}

.Link {
  padding: 20px;
  font-size: 40px;
  text-decoration: none;
  color: black;
}

.Link:hover,
.link:focus {
  color: brown;
}
